@charset 'utf-8';

@import 'settings';

// Main Colors

$white: #FFF;
$lightGrey: #EDEFF3;
$darkBlue: #1D2438;
$lightBlue: #747D94;
$purple: #DA1889;

$header-color: $darkBlue;
$header-font-family: 'Roboto';
$header-font-weight: 300;

@import 'foundation';
@import 'motion-ui';

@include foundation-global-styles;
@include foundation-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
@include foundation-visibility-classes;
@include foundation-float-classes;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-close-button;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-flex-video;
@include foundation-label;
@include foundation-media-object;
@include foundation-menu;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;

@include motion-ui-transitions;
@include motion-ui-animations;

body {
	background-color: $lightGrey;
	font-family: 'Roboto', sans-serif;
}
.button {
	background-color: $purple;
	&:hover {
		background-color: darken($purple, 20%);
	}
}
.button-group {
	border-radius: 4px;
	overflow: hidden;
}
.sidebar {
	height: 100%;
	background-color: $darkBlue;
	position: fixed;

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#202448+0,3e1c3f+100 */
	background: #202448; /* Old browsers */
	background: -moz-linear-gradient(top,  #202448 0%, #3e1c3f 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #202448 0%,#3e1c3f 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #202448 0%,#3e1c3f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#202448', endColorstr='#3e1c3f',GradientType=0 ); /* IE6-9 */

	.logo {
		max-width: 160px;
		margin: 40px auto 20px;
		display: block;
	}
	ul {
		margin: 80px 0 0;
		li {
			list-style: none;
			padding: 20px 0;
			border-bottom: 1px solid #3B3054;
			a {
				color: $white;
				padding-left: 20px;
				font-weight: 500;
			}
		}
	}
}
.callout {
	borde-radius: 4px;
	border: 0;
	padding: 24px;
	box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.1);
}
h3 {
	margin: 40px 0;
}
.page-title {
	margin: 40px 0;
	color: $darkBlue;
}
.name {
	margin: 40px 0 0;
	font-weight: bold;
	font-size: rem-calc(36);
}
.employees {
	margin: 0;
	li {
		display: inline-block;
		margin-right: 20px;
	}
	a {
		color: $purple;
    	font-weight: bold;
    	font-size: rem-calc(18);
    	&:hover {

    	}
	}
}
.normal-list {
	list-style: none;
	margin: 0;
	li {
		padding: 24px 0;
		margin: 0;
		margin-bottom: 20px;
		border-bottom: 1px solid #D6D6D6;
		a {
			color: lighten($darkBlue, 10%);
			font-weight: 500;
			font-size: rem-calc(18);
		}
		.amount {
			float: right;
			font-weight: 400;
			font-size: rem-calc(20);
			color: $lightBlue;
			.currency {
				font-weight: bold;
			}
		}
	}
}
.top-list {
	list-style: none;
	margin: 0;
	li {
		background-color: $white;
		padding: 24px;
		margin-bottom: 20px;
		box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.1);
		transition: all 0.5s ease;
		.amount {
			float: right;
			font-weight: 400;
			font-size: rem-calc(20);
			color: $lightBlue;
			.currency {
				font-weight: bold;
			}
		}
		.name a{
			color: lighten($darkBlue, 10%);
			font-weight: 500;
			font-size: rem-calc(18);
		}
		&:hover {
	    	transform: scale(1.02);
	    	transition: all 0.5s ease;
	    }
	}
}
.content.landing {
	h1 {
		margin-top: 120px;
		font-size: rem-calc(34);
	}
	h5 {
		margin-top: 60px;
	}
	.button-shortcut {
		margin-top: 40px;
	}
}
.content.party-list {
	.party {
		background-color: #FFF;
	    position: relative;
	    display: block;
	    padding: 40px 20px;
	    margin-bottom: 20px;
	    border-radius: 4px;
	    overflow: hidden;
	    box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.1);
	    transition: all 0.5s ease;
	    .party-image {
	    	max-width: 60px;
	    	display: block;
	    	margin: 0 auto 20px;
	    }
	    .side-color {
	    	position: absolute;
		    height: 100%;
		    width: 4px;
		    left: 0;
		    top: 0;
		    bottom: 0;
		    transition: all 0.3s ease;
	    }
	    h4 {
	    	color: lighten($darkBlue, 10%);
    		font-weight: bold;
    		font-size: 14px;
	    }
	    &:hover {
	    	.side-color {
	    		width: 20px;
	    		transition: all 0.3s linear;
	    	}
	    	transform: scale(1.05);
	    	transition: all 0.5s ease;
	    }
	}
}
.content.party-view {
	.callout {
		margin-top: 40px;
	}
	a.party-link {
		margin-top: 54px;
		text-align: right;
		display: block;
		color: $purple;
		font-weight: bold;
		font-size: rem-calc(18);
	}
	.party-image {
		max-width: 60px;
		display: inline;
	}
	.party-data {
		.data {
			font-size: rem-calc(24);
			font-weight: bold;
		}
		.columns {
			border-right: 1px solid lighten($lightBlue, 35%);
			&:last-child {
				border: none;
			}
		}
	}
}
.procurement-view {
	.callout {
		margin-top: 40px;
	}
	.procurement-data {
		.data {
			font-size: rem-calc(24);
			font-weight: bold;
		}
		.columns {
			border-right: 1px solid lighten($lightBlue, 35%);
			&:last-child {
				border: none;
			}
		}
	}
	a.proc-link {
		color: $purple;
		font-weight: bold;
		font-size: rem-calc(18);
	}
}