<%= this.partial({url: 'templates/header.ejs'}) %>
<%= this.partial({url: 'templates/sidebar.ejs'}) %>

<div class="medium-9 large-10 columns content landing">
	<div class="row">
		<div class="small-8 small-centered columns text-center">
		<h1>
			Opener.ee on avatud andmete algatus, et suurendada läbipaistvust avalike hangete, ettevõtete ja poliitiliste seoste vahel. 
		</h1>

			<div class="small-8 small-centered">

				<h5>
					Alusta otsimist:
				</h5>
				<div class="search">
					<input type="text" name="search" placeholder="Otsi"/>
					<div class="button init-search">Otsi</div>
				</div>
				<div class="expanded button-group button-shortcut">
			        <a href="procurements/topProcurers" class="button large">Hankijad</a>
			        <a href="procurements/topWinners" class="button large">Hankevõitjad</a>
			        <a href="parties" class="button large">Erakonnad</a>
		      	</div>
			</div>
			
		</div>
	</div>
</div>
