<%= this.partial({url: 'templates/header.ejs'}) %>
<%= this.partial({url: 'templates/sidebar.ejs'}) %>
<div class="medium-9 large-10 columns content landing">
	<div class="row">
		<div class="small-8 small-centered columns text-center">
		<h1>
			Opener.ee on avatud andmete algatus, et suurendada läbipaistvust avalike hangete, ettevõtete ja poliitiliste seoste vahel. 
		</h1>

			<div class="small-8 small-centered">

				<h5>
					Alusta otsimist:
				</h5>
				<div class="search">
					<input type="text" name="search" placeholder="Otsi"/>
					<div class="button init-search">Otsi</div>
				</div>
				<div class="expanded button-group button-shortcut">
			        <a href="procurements/topProcurers" class="button large">Hankijad</a>
			        <a href="procurements/topWinners" class="button large">Hankevõitjad</a>
			        <a href="parties" class="button large">Erakonnad</a>
		      	</div>
			</div>
			<h5>Openeri andmed pärinevad erinevatest riiklikest allikatest:</h5>
			<p class="resource-text text-left">
				
				<br><br>
				Hanke andmed (2013, 2014, 2015). Rahandusministeerium > E-riigihanke keskkond: <a href="https://riigihanked.riik.ee/register/" target="_new">https://riigihanked.riik.ee/register/</a><br>
				Annetused erakondadele (2013, 2014, 2015). Erakondade Rahastamise Järelvalve Komisjon: <a href="http://www.erjk.ee/et/aruanded/erakondade-tulud-ja-laekumised" target="_new">http://www.erjk.ee/et/aruanded/erakondade-tulud-ja-laekumised</a><br>
				Erakondade liikmed (12.2015 seisuga). Registrite ja Infosüsteemide Keskus > E-äriregister > Erakonnad 
				<a href="https://ariregister.rik.ee/erakonnad.py?" target="_new">https://ariregister.rik.ee/erakonnad.py</a><br>
				Hangetega seotud ettevõtted (01.2016 seisuga). Registrite ja Infosüsteemide Keskus > E-äriregistri (<a href="https://ariregister.rik.ee/index.py" target="_new">https://ariregister.rik.ee/index.py</a>) andmed läbi Inforegistri (<a href="https://www.inforegister.ee/" target="_new">https://www.inforegister.ee/</a>) <br>
				Riigi osalusega äriühingute ja sihtasutuste nõukogude liikmed (02.2016 seisuga). Rahandusministeerium > Riigi osalusega äriühingute ja sihtasutuste aruanded
				<a href="http://www.fin.ee/riigi-osalusega-ariuhingute-ja-sihtasutuste-aruanded" target="_new">http://www.fin.ee/riigi-osalusega-ariuhingute-ja-sihtasutuste-aruanded</a>
				<br><br>
				Avatud andmed ja kood Githubis <a href="https://github.com/openeree/openeree" target="_new">https://github.com/openeree/openeree</a>
				<br><br>
				Openeris esitatud andmed kajastavad ajavahemikku 2013-2015 aasta.
				<br><br>
				Openeri valmimist on toetanud Transparency Internationali akrediteeritud esindaja Eestis - MTÜ Korruptsioonivaba Eesti, Avatud Eesti Fond ja Register OÜ

			</p>
		</div>
	</div>
</div>
