<%= this.partial({url: 'templates/header.ejs'}) %>
<%= this.partial({url: 'templates/sidebar.ejs'}) %>
<div class="content">
	<p class="text-center">
		Opener.ee is open-data initiative, to increase transparency among public procurements, companies and political connections.
	</p>
</div>
