<%= this.partial({url: 'templates/header.ejs'}) %>
<%= this.partial({url: 'templates/sidebar.ejs'}) %>

<div class="content">
	<h2 class="text-center">Erakonnad</h2>
	<ul>
		<% for(var key in parties){%>
			<li>
				<span class="name"><a href="party/<%= parties[key].id %>"><%= parties[key].name %></a></span>
			</li>
		<% } %>
	</ul>
</div>