<div class="medium-3 large-2 columns sidebar hide-for-small-only">
	<a href="/"><img src="img/logo.png" alt="" class="logo"></a>
	<div class="search">
		<input type="text" name="search" placeholder="Otsi"/>
		<div class="button init-search">Otsi</div>
	</div>
	
	<ul>
		<li><a href="procurements/topProcurers">Top hankijad</a></li>
		<li><a href="procurements/topWinners">Top hankevõitjad</a></li>
		<li><a href="parties">Erakonnad</a></li>
	</ul>
</div>
