<ul class="sidebar">
	<h3 class="text-center">Valikud</h3>
	<li><a href="procurements/topProcurers">Top hankijad</a></li>
	<li><a href="procurements/topWinners">Top hankevõitjad</a></li>
	<li><a href="parties">Erakonnad</a></li>
	<!--<li>Top erakondade rahastamine</li>-->
</ul>