<div class="medium-3 large-2 columns sidebar">
	<a href="/"><img src="img/logo.png" alt="" class="logo"></a>
	<ul>
		<li><a href="procurements/topProcurers">Top hankijad</a></li>
		<li><a href="procurements/topWinners">Top hankevõitjad</a></li>
		<li><a href="parties">Erakonnad</a></li>
	</ul>
</div>
